/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  color : #e0e0e0 !important;
  background-color: black;
}

input, textarea {
  color: #e0e0e0 !important;
}

nav ul a,
nav .brand-logo {
  color: #e0e0e0;
}

nav ul a:hover, nav .brand-logo:hover {
    color: white;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.banner-title-img {
  width: 50%;
  min-width: 220px;
  margin: 0 auto 0 auto;
  display: block;
}

.banner-button-img {
  width: 5%;
  min-width: 45px;
  margin: 3% 1% 0 1%;
}

.collection.with-header, .collection.with-header .collection-header,  .collection.with-header a {
  border: 0px solid #000000;
  /*border-bottom: 1px solid #3b3b3b;*/
}

.collection.with-header .collection-header, .collection.with-header a {
  background-color: rgb(0, 0, 0);
  /*padding: 10px 20px 5px 20px;*/
}

.collection a.collection-item:not(.active):hover {
  background-color: rgb(54, 54, 54);
}

.collection .collection-item.avatar i.circle {
    width: 35px !important;
    height: 35px !important;
    font-size: 20px;
    line-height: 35px;
    margin-top: -0.3em;
}

.collection .collection-item.avatar {
    min-height: 0;
    padding : 1em 0 1.5em 0; 
}

/* adapte collapsible to home style */

.collapsible-header {
    padding: inherit;
    display: block;
    border-bottom: 1px solid #3b3b3b;
}

.collapsible {
    border: 0px solid #000000;
    margin: 0.5rem 0 1rem 0;
}

.collapsible-body {
    border-top : 1px solid black;
    margin-top : -1px; /* mask the header border-bottom when active */
    border-bottom: 1px solid #3b3b3b;
    padding: 0 0 1em 4em;
}

.collapsible-body a {
    border: 0px solid #000000 !important;
}